tr
  td(align='center', height='100%', valign='top', width='100%')
    <!--[if mso]>
    <table align="center" border="0" cellspacing="0" cellpadding="0" width="660">
    <tr>
    <td align="center" valign="top" width="660">
    <![endif]-->
    table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:660px;', bgcolor='#ffffff')
      tr
        td(height='40', style='font-size: 40px; line-height: 40px;')  
      tr
        td(align='center', valign='top', style='font-size:0;')
          <!--// DEVELOPER NOTES:
          1. Setting font-size:0; is necessary to ensure
          that there is no extra spacing introduced
          between the centering divs that wrap each
          of the columns. //-->

          <!--[if mso]>
          <table align="center" border="0" cellspacing="0" cellpadding="0" width="660">
          <tr>
          <td align="left" valign="top" width="330">
          <![endif]-->
          div(style='display:inline-block; max-width:330px; vertical-align:top; width:100%;')
            <!--// DEVELOPER NOTES:
            1. To have each column center upon stacking,
            wrap them in individual divs, set the same
            max-width and width as the table within it,
            and set display to inline-block; using
            vertical-align is optional. //-->
            table(align='left', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:330px;')
              tr
                td(align='center', valign='top')
                  img.image(src='update-2.png', width='', height='', style='margin:0; padding:0; border:none; display:block; color:; font-size:', border='0', alt='')
              tr
                td(height='10', style='font-size: 10px; line-height: 10px;')
          <!--[if mso]>
          </td>
          <td align="left" valign="top" width="330">
          <![endif]-->
          div(style='display:inline-block; max-width:330px; vertical-align:top; width:100%;')
            table(align='left', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:330px;')
              tr
                td(align='center', valign='top')
                  table(cellpadding='0', cellspacing='0', border='0', width='260')
                    tr
                      td.mobile(align='left', style="font-family: 'Montserrat', Arial, sans-serif; font-size:18px; line-height:24px; color:#222222; padding:0; margin:0; text-transform:uppercase; font-weight:bold;")
                        | Blog Post #2
                    tr
                      td(height='20', style='font-size: 20px; line-height: 20px;')  
                    tr
                      td.mobile(align='left', style="font-family: 'Montserrat', Arial, sans-serif; font-size:14px; line-height:22px; color:#666666; padding:0; margin:0;")
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla titor molestie. Nunc est nunc, fringilla sit amet tempus ac,
                    tr
                      td(height='20', style='font-size: 20px; line-height: 20px;')  
                    tr
                      td(align='center')
                        table(border='0', cellspacing='0', cellpadding='0', align='left')
                          tr
                            td
                              table(border='0', cellspacing='0', cellpadding='0', align='center')
                                tr
                                  td.body-text(align='center', style='-webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px;', bgcolor='#26a4d3')
                                    a.body-text(href='https://litmus.com', target='_blank', style="font-size: 14px; font-family: 'Montserrat', Arial, sans-serif; color: #ffffff; text-decoration: none; text-decoration: none; border-radius: 50px; padding: 12px 22px; border: 1px solid #26a4d3; display: inline-block; text-transform:uppercase; font-weight:bold;") Read More
                    tr
                      td(height='10', style='font-size: 10px; line-height: 10px;')  
          <!--[if mso]>
          </td>
          </tr>
          </table>
          <![endif]-->
      tr
        td(height='40', style='font-size: 40px; line-height: 40px;')  
    <!--[if mso]>
    </td>
    </tr>
    </table>
    <![endif]-->





