tr
  td(align='center', height='100%', valign='top', width='100%', bgcolor='#26a4d3')
    <!--[if (gte mso 9)|(IE)]>
    <table align="center" border="0" cellspacing="0" cellpadding="0" width="640">
    <tr>
    <td align="center" valign="top" width="640">
    <![endif]-->
    table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:600px; padding:0 20px;')
      tr
        td(height='40', style='font-size: 40px; line-height: 40px;')  
      tr
        td.center.body-text(align='center', style="font-family: 'Montserrat', Arial, sans-serif; font-size:16px; line-height:22px; font-weight:bold; color:#ffffff; text-transform:uppercase;")
          h3.body-text(style="font-family: 'Montserrat', Arial, sans-serif; font-size:16px; line-height:22px; font-weight:bold; color:#ffffff; text-transform:uppercase; padding:0; margin:0;") We've been working on some updates
      tr
        td.center.bodytext(align='center', style="font-family: 'Montserrat', Arial, sans-serif; font-size:14px; line-height:20px; color:#aad4ea; text-transform:uppercase;")
          p.body-text(style="font-family: 'Montserrat', Arial, sans-serif; font-size:14px; line-height:20px; color:#aad4ea; text-transform:uppercase; padding:0; margin:0;") We're about to launch version 2.0
      tr
        td(height='20', style='font-size: 20px; line-height: 20px;')  
      tr
        td(align='center', valign='top')
          table(border='0', cellspacing='0', cellpadding='0')
            tr
              td
                table(border='0', cellspacing='0', cellpadding='0')
                  tr
                    td.body-text(align='center', style='-webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px;', bgcolor='#ffffff')
                      a.body-text(href='https://litmus.com', target='_blank', style="font-size: 14px; font-family: 'Montserrat', Arial, sans-serif; color: #26a4d3; text-decoration: none; text-decoration: none; border-radius: 50px; padding: 12px 28px; border: 1px solid #ffffff; display: inline-block; text-transform:uppercase; font-weight:bold;") View Updates
      tr
        td(height='40', style='font-size: 40px; line-height: 40px;')  
    <!--[if (gte mso 9)|(IE)]>
    </td>
    </tr>
    </table>
    <![endif]-->
