tr
  td(align='center', height='100%', valign='top', width='100%')
    <!--[if mso]>
    <table align="center" border="0" cellspacing="0" cellpadding="0" width="660">
    <tr>
    <td align="center" valign="top" width="660">
    <![endif]-->
    table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:660px;', bgcolor='#292828')
      tr
        td(height='40', style='font-size: 40px; line-height: 40px;')  
      tr
        td(align='center', valign='top', style='font-size:0;')
          <!--// DEVELOPER NOTES:
          1. Setting font-size:0; is necessary to ensure
          that there is no extra spacing introduced
          between the centering divs that wrap each
          of the columns. //-->

          <!--[if mso]>
          <table align="center" border="0" cellspacing="0" cellpadding="0" width="660">
          <tr>
          <td align="left" valign="top" width="330">
          <![endif]-->
          div(style='display:inline-block; max-width:330px; vertical-align:top; width:100%;')
            <!--// DEVELOPER NOTES:
            1. To have each column center upon stacking,
            wrap them in individual divs, set the same
            max-width and width as the table within it,
            and set display to inline-block; using
            vertical-align is optional. //-->
            table(align='left', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:330px;')
              tr
                td(align='center', valign='top')
                  table(width='280', cellpadding='0', cellspacing='0', border='0')
                    tr
                      td(width='40')
                        img.center(src='icon-1.png', width='', height='', style='margin:0; padding:0; border:none; display:block;', border='0', alt='Vision')
                      td.mobile(width='240', align='left', style="font-family: 'Montserrat', Arial, sans-serif; font-size:14px; line-height:20px; color:#ffffff; padding:0; margin:0; text-transform:uppercase; font-weight:bold;")
                        | Feature #1
                  table(width='280', cellpadding='0', cellspacing='0', border='0')
                    tr
                      td(width='40')
                      td.mobile(width='240', align='left', style="font-family: 'Montserrat', Arial, sans-serif; font-size:12px; line-height:18px; color:#666666; padding:0; margin:0;")
                        | Lorem ipsum dolor sit amet, consectetur adipis
              tr
                td(height='10', style='font-size: 10px; line-height: 10px;')
          <!--[if mso]>
          </td>
          <td align="left" valign="top" width="330">
          <![endif]--> 
          div(style='display:inline-block; max-width:330px; vertical-align:top; width:100%;')
            table(align='left', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:330px;')
              tr
                td(align='center', valign='top')
                  table(width='280', cellpadding='0', cellspacing='0', border='0')
                    tr
                      td(width='40')
                        img.center(src='icon-2.png', width='', height='', style='margin:0; padding:0; border:none; display:block;', border='0', alt='Vision')
                      td.mobile(width='240', align='left', style="font-family: 'Montserrat', Arial, sans-serif; font-size:14px; line-height:20px; color:#ffffff; padding:0; margin:0; text-transform:uppercase; font-weight:bold;")
                        | Feature #2
                  table(width='280', cellpadding='0', cellspacing='0', border='0')
                    tr
                      td(width='40')
                      td.mobile(width='240', align='left', style="font-family: 'Montserrat', Arial, sans-serif; font-size:12px; line-height:18px; color:#666666; padding:0; margin:0;")
                        | Lorem ipsum dolor sit amet, consectetur adipis
          <!--[if mso]>
          </td>
          </tr>
          </table>
          <![endif]-->
      tr
        td(height='10', style='font-size: 10px; line-height: 10px;')  
    <!--[if mso]>
    </td>
    </tr>
    </table>
    <![endif]-->
