tr
  td.footerBackground(align='center', height='100%', valign='top', width='100%', bgcolor='#FFFFFF')
    <!--[if (gte mso 9)|(IE)]>
    <table align="center" border="0" cellspacing="0" cellpadding="0" width="660">
    <tr>
    <td align="center" valign="top" width="660">
    <![endif]-->
    table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:660px;')
      tr
        td(height='20', style='font-size: 20px; line-height: 20px;')  
      tr
        td.body-text(align='center', style="font-family: 'Montserrat', Arial, sans-serif; font-size:12px; line-height:18px; color:#666666;")
          p.body-text(style="font-family: 'Montserrat', Arial, sans-serif; font-size:12px; line-height:18px; color:#666666; padding:0 20px; margin:0;") 675 Massachusetts Avenue, 11th floor Cambridge, MA 02139
      tr
        td(height='10', style='font-size: 10px; line-height: 10px;')  
      tr
        td.body-text(align='center', style="font-family: 'Montserrat', Arial, sans-serif; font-size:12px; line-height:18px; color:#666666; padding:0 20px;")
          a.body-text(href='http://litmus.com', target='_blank', style='color:#666666; text-decoration:underline;') hello@litmus.com
          span(style='font-family:arial, sans-serif; font-size:14px; line-height:20px; color:#dddddd;')  
          a.body-text(href='http://litmus.com', target='_blank', style='color:#666666; text-decoration:underline;') View in browser
          span(style='font-family:arial, sans-serif; font-size:14px; line-height:20px; color:#dddddd;')  
          a.body-text(href='http://litmus.com', target='_blank', style='color:#666666; text-decoration:underline;') Unsubscribe
      tr
        td(height='20', style='font-size: 20px; line-height: 20px;')  
    <!--[if (gte mso 9)|(IE)]>
    </td>
    </tr>
    </table>
    <![endif]-->


