tr
  td.socialBackground(align='center', height='100%', valign='top', width='100%', bgcolor='#292828')
    <!--[if (gte mso 9)|(IE)]>
    <table align="center" border="0" cellspacing="0" cellpadding="0" width="660">
    <tr>
    <td align="center" valign="top" width="660">
    <![endif]-->
    table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:660px;')
      tr
        td(height='40', style='font-size: 40px; line-height: 40px;')  
      tr
        td(align='center', valign='top', style='font-size:0; padding:0 20px;')
          <!--[if (gte mso 9)|(IE)]>
          <table align="center" border="0" cellspacing="0" cellpadding="0" width="660">
          <tr>
          <td align="center" valign="top" width="660">
          <![endif]-->
          table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:660px;')
            tr
              td(align='center', valign='top')
                table.right(width='160', cellpadding='0', cellspacing='0', border='0')
                  tr
                    td(width='40', align='center')
                      a(href='http://litmus.com', target='_blank')
                        img(src='facebook.png', width='28', height='29', style='margin:0; padding:0; border:none; display:block;', border='0', alt='Facebook')
                    td(width='40', align='center')
                      a(href='http://litmus.com', target='_blank')
                        img(src='twitter.png', width='28', height='29', style='margin:0; padding:0; border:none; display:block;', border='0', alt='Twitter')
                    td(width='40', align='center')
                      a(href='http://litmus.com', target='_blank')
                        img(src='google+.png', width='28', height='29', style='margin:0; padding:0; border:none; display:block;', border='0', alt='Google+')
                    td(width='40', align='center')
                      a(href='http://litmus.com', target='_blank')
                        img(src='linkedin.png', width='28', height='29', style='margin:0; padding:0; border:none; display:block;', border='0', alt='LinkedIn')
          <!--[if (gte mso 9)|(IE)]>
          </td>
          </tr>
          </table>
          <![endif]-->
      tr
        td(height='40', style='font-size: 40px; line-height: 40px;')  
    <!--[if (gte mso 9)|(IE)]>
    </td>
    </tr>
    </table>
    <![endif]-->

