tr
  td(align='center', height='100%', valign='top', width='100%')
    <!--[if (gte mso 9)|(IE)]>
    <table align="center" border="0" cellspacing="0" cellpadding="0" width="660">
    <tr>
    <td align="center" valign="top" width="660">
    <![endif]-->
    table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:660px;')
      tr
        td(background='hero.png', bgcolor='#222222', width='660', height='442', valign='top')
          <!--[if gte mso 9]>
          <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:600px;height:442px;">
          <v:fill type="tile" src="hero.png" color="#FFFFFF" />
          <v:textbox inset="0,0,0,0">
          <![endif]-->
          div
            table(width='100%', height='100%', border='0', cellpadding='0', cellspacing='0')
              tr
                td(align='center', height='100%', valign='top', width='100%', style='padding:0 20px;')
                  <!--[if (gte mso 9)|(IE)]>
                  <table align="center" border="0" cellspacing="0" cellpadding="0" width="660">
                  <tr>
                  <td align="center" valign="top" width="660">
                  <![endif]-->
                  table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width:660px;')
                    tr
                      td(height='40', style='font-size: 40px; line-height: 40px;')  
                    tr
                      td(align='center', valign='top')
                        a(href='http://litmus.com', target='_blank')
                          img(src='logo.png', width='57', height='13', style='margin:0; padding:0; border:none; display:block;', border='0', alt='Vision')
                    tr
                      td(height='35', style='font-size: 35px; line-height: 35px;')  
                    tr
                      td(align='center')
                        table(width='300', cellpadding='0', cellspacing='0', border='0')
                          tr
                            td.body-text(width='75', align='center')
                              a.body-text(href='http://litmus.com', target='_blank', style="font-family: 'Montserrat', Arial, sans-serif; font-size:14px; line-height:20px; color:#ffffff; text-decoration:none;") Features
                            td.body-text(width='75', align='center')
                              a.body-text(href='http://litmus.com', target='_blank', style="font-family: 'Montserrat', Arial, sans-serif; font-size:14px; line-height:20px; color:#ffffff; text-decoration:none;") Pricing
                            td.body-text(width='75', align='center')
                              a.body-text(href='http://litmus.com', target='_blank', style="font-family: 'Montserrat', Arial, sans-serif; font-size:14px; line-height:20px; color:#ffffff; text-decoration:none;") Support
                            td.body-text(width='75', align='center')
                              a.body-text(href='http://litmus.com', target='_blank', style="font-family: 'Montserrat', Arial, sans-serif; font-size:14px; line-height:20px; color:#26a4d3; text-decoration:none;") Login
                    tr
                      td(height='60', style='font-size: 60px; line-height: 60px;')  
                    tr
                      td.body-text(align='center', style="font-family: 'Montserrat', Arial, sans-serif; font-size:30px; line-height:36px; font-weight:bold; color:#ffffff; text-transform:uppercase;")
                        h1.body-text(style="font-family: 'Montserrat', Arial, sans-serif; font-size:30px; line-height:36px; font-weight:bold; color:#ffffff; text-transform:uppercase; padding:0; margin:0;") Latest Updates
                    tr
                      td(height='20', style='font-size: 20px; line-height: 20px;')  
                    tr
                      td(align='center')
                        table(cellpadding='0', cellspacing='0', border='0')
                          tr
                            td.mobile(style="font-family: 'Montserrat', Arial, sans-serif; font-size:14px; line-height:20px; color:#757575;", align='center')
                              p.body-text(style="font-family: 'Montserrat', Arial, sans-serif; font-size:14px; line-height:20px; color:#757575; padding:0; margin:0;", align='center')
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla
                                | quis risus porttitor molestie. Nunc est nunc, fringilla sit amet tempus ac.
                    tr
                      td(height='20', style='font-size: 20px; line-height: 20px;')  
                    tr
                      td(align='center')
                        table(border='0', cellspacing='0', cellpadding='0', align='center')
                          tr
                            td
                              table(border='0', cellspacing='0', cellpadding='0', align='center')
                                tr
                                  td.body-text(align='center', style='-webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px;', bgcolor='#26a4d3')
                                    a.body-text(href='https://litmus.com', target='_blank', style="font-size: 14px; font-family: 'Montserrat', Arial, sans-serif; color: #ffffff; text-decoration: none; text-decoration: none; border-radius: 50px; padding: 12px 22px; border: 1px solid #26a4d3; display: inline-block; text-transform:uppercase; font-weight:bold;") View Updates
                    tr
                      td(height='40', style='font-size: 40px; line-height: 40px;')
                  <!--[if (gte mso 9)|(IE)]>
                  </td>
                  </tr>
                  </table>
                  <![endif]-->
          <!--[if gte mso 9]>
          </v:textbox>
          </v:rect>
          <![endif]-->
    <!--[if (gte mso 9)|(IE)]>
    </td>
    </tr>
    </table>
    <![endif]-->
