tr
  td
    table(cellspacing='0', cellpadding='0', border='0', bgcolor='#ffffff', width='100%', style='max-width: 660px;', align='center')
      tr
        td(height='40', style='font-size: 40px; line-height: 40px;')  
      tr
        td.body-text(align='left', valign='top', style="font-family: 'Montserrat', Arial, sans-serif; font-size:20px; line-height:26px; color:#222222; font-weight:bold; text-transform:uppercase;")
          h2.body-text(style="font-family: 'Montserrat', Arial, sans-serif; font-size:20px; line-height:26px; color:#222222; font-weight:bold; text-transform:uppercase; padding:0 20px; margin:0;") We've made some new updates to our system
      tr
        td(height='10', style='font-size: 10px; line-height: 10px;')  
      tr
        td.body-text(align='left', valign='top', style="font-family: 'Montserrat', Arial, sans-serif; font-size:14px; line-height:20px; color:#222222; font-weight:bold;")
          p.body-text(style="font-family: 'Montserrat', Arial, sans-serif; font-size:14px; line-height:24px; color:#222222; font-weight:bold; padding:0 20px; margin:0;")
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla titor molestie. Nunc est nunc, fringilla sit amet tempus ac, sollicitudin non as at odio scelerisque mauris tempus efficitur. Phasellus ac turpis justo.
      tr
        td(height='10', style='font-size: 10px; line-height: 10px;')  
      tr
        td.body-text(align='left', valign='top', style="font-family: 'Montserrat', Arial, sans-serif; font-size:14px; line-height:20px; color:#666666;")
          p.body-text(style="font-family: 'Montserrat', Arial, sans-serif; font-size:14px; line-height:24px; color:#666666; padding:0 20px; margin:0;")
            | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilmus vitae molestie libero, commodo suscipit quam. Donec et ipsum velit. tis nulla. In non dui nec enim imperdiet mattis.
      tr
        td(height='10', style='font-size: 10px; line-height: 10px;')  
      tr
        td.body-text(align='left', valign='top', style="font-family: 'Montserrat', Arial, sans-serif; font-size:14px; line-height:20px; color:#666666;")
          p.body-text(style="font-family: 'Montserrat', Arial, sans-serif; font-size:14px; line-height:24px; color:#666666; padding:0 20px; margin:0;") Yours sincerely,
      tr
        td(height='20', style='font-size: 20px; line-height: 20px;')  
      tr
        td(align='left', style='padding:0 20px;')
          table(width='190')
            tr
              td(width='70')
                img(src='profile-picture.png', width='62', height='62', style='margin:0; padding:0; border:none; display:block;', border='0', alt='')
              td(width='120')
                table(width='', cellpadding='0', cellspacing='0', border='0')
                  tr
                    td.body-text(align='left', style="font-family: 'Montserrat', Arial, sans-serif; font-size:14px; line-height:20px; color:#222222; font-weight:bold;")
                      p.body-text(style="font-family: 'Montserrat', Arial, sans-serif; font-size:14px; line-height:20px; color:#222222; font-weight:bold; padding:0; margin:0;") Anna Bella
                  tr
                    td.body-text(align='left', style="font-family: 'Montserrat', Arial, sans-serif; font-size:14px; line-height:20px; color:#666666;")
                      p.body-text(style="font-family: 'Montserrat', Arial, sans-serif; font-size:14px; line-height:20px; color:#666666; padding:0; margin:0;") CEO | Vision
            tr
              td(height='40', style='font-size: 40px; line-height: 40px;')  

